@import '@/styles/index.module.scss';

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: $spacing-h-lg * 1.5;

  .logoContainer {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $spacing-h-lg * 1.5;
    @extend .border;
    border-radius: $border-radius-lg;
    background-color: var(--bg-secondary);
    box-shadow:
      0 0 4px var(--primary-light),
      0 0 12px var(--primary-color);
    &.dark {
      box-shadow:
        0 0 4px var(--text-secondary),
        0 0 12px var(--text-primary);
    }

    .logoText {
      font-size: $font-size-xl * 2.2;
      font-family: 'daoliti';
      font-weight: bold;
      transition: text-shadow 0.3s ease;
      color: var(--primary-color);
      text-shadow:
        0 0 3px var(--primary-light),
        0 0 6px var(--primary-color);

      &.default {
        text-shadow: none;
      }

      &.dark {
        color: var(--text-primary);
      }
    }
  }

  .title {
    font-size: $font-size-xl * 1.5;
    font-weight: bold;
    color: var(--text-primary);
    margin-bottom: $gap;
  }

  .subtitle {
    font-size: $font-size-base;
    color: var(--text-tertiary);
  }
}

.scrollArea {
  flex: 1;
  position: relative;
  overflow: visible;
  max-height: 60vh;
  padding: 0 $spacing-h-lg;
}

.scrollContent {
  padding-bottom: $spacing-h-lg * 3.5;
}

.form {
  min-height: 100%;
  width: 100%;
  height: 100%;
}

.formContainer {
  width: 100%;
  box-sizing: border-box;
  padding: 0 $spacing-h-sm;
  @extend .popIn;
  transform-origin: center;
  backface-visibility: hidden;
  will-change: transform, opacity;
  margin-top: $spacing-h-lg;
}

.formContent {
  width: 100%;
}

.usernameContainer {
  position: relative;
  width: 100%;
}

.options {
  @include horizontal-box(0, 0);
  justify-content: space-between;
  margin-bottom: $spacing-h-lg * 1.5;
}

.remember {
  display: flex;
  align-items: center;
}

.rememberText {
  font-size: $font-size-base;
  color: var(--text-secondary);
  margin-left: $gap;
}

.forgotPassword {
  font-size: $font-size-base;
  color: var(--primary-color);
  cursor: pointer;
  @extend .themeTransition;

  &:active {
    opacity: 0.7;
  }
}

.getCode {
  position: absolute;
  right: $spacing-h-lg;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary-color);
  font-size: $font-size-base;
  white-space: nowrap;
  cursor: pointer;
  z-index: 2;
  @extend .themeTransition;

  &:active {
    opacity: 0.7;
  }
}
