@import '@/styles/index.module.less';

.page {
  .bg-primary;
  .text-primary;
  .vertical-box(@padding-lg, @gap-lg);

  height: 100vh;
  font-size: @font-size;
  line-height: 1.5;
  overflow: hidden;
}

.content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: visible;
}

.scrollContent {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
