@import '@/styles/index.module.scss';

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loadingWrapper {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 8px;
  background-color: var(--bg-secondary-rgba);

  .object {
    border-radius: 50%;
    position: absolute;
    border-left: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;

    animation: loading-spining 2s infinite;
  }
}

@keyframes loading-spining {
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
