@import '~taro-ui/dist/style/variables/default.scss';
.tab-bar {
  z-index: 100;
  display: flex;
  padding-bottom: env(safe-area-inset-bottom);
  box-shadow:
    0 0 $spacing-v-sm var(--primary-light),
    0 0 $spacing-v-sm * 2 var(--border-color);

  &-item {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: $spacing-v-sm;

    cover-image {
      width: 48px;
      height: 48px;
    }

    .text {
      color: var(--text-secondary);
      margin-top: $spacing-v-sm;
    }

    &.active {
      .text {
        font-weight: 500;
        color: var(--text-primary);
      }
    }
  }

  &.dark {
    box-shadow:
      0 0 $spacing-v-sm var(--text-secondary),
      0 0 $spacing-v-sm * 2 var(--text-primary);

    .text {
      margin-top: 0;
    }
  }
}
