@import '../styles/variables.less';

.tab-bar {
  .themeTransition;
  background: var(--bg-primary);
  display: flex;
  color: var(--text-secondary);
  font-size: @font-size;

  &-item {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: @padding;
    gap: @gap;

    &.active {
      font-weight: 500;
      color: var(--text-primary);
    }

    cover-image {
      width: 32px;
      height: 32px;
    }
  }
}
