@import '@/styles/index.module.scss';

.toggle {
  @include horizontal-box($spacing-h-lg, 0);
  position: relative;
}

.tab {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-v-md 0;
  position: relative;
  cursor: pointer;
  @extend .themeTransition;

  &:hover {
    color: var(--primary-color);
  }
}

.active {
  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    width: 50%;
    left: 25%;

    height: 2px;
    background-color: var(--primary-color);
    @extend .themeTransition;
    @include scaleIn();
  }

  .text {
    color: var(--primary-color);
    font-weight: 500;
  }
}

.text {
  font-size: $font-size-lg - 1px;
  color: var(--text-secondary);
  @extend .themeTransition;
}
